<<<<<<< HEAD:src/components/Profile.module.css
.content {
  grid-area: c;
  background-color: cornflowerblue;
}

.item {
  color: greenyellow;
=======
.content {
  grid-area: c;
  background-color: cornflowerblue;
}

.item {
  color: greenyellow;
>>>>>>> parent of f21190a... 15: posts, post component; folder structure:src/components/Profile/Profile.module.css
}